@import "Variables.scss";

 //Formt Mobile
@media (max-width: 430px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        font-family: Graphik, sans-serif;
        background-color: $bleu ;
        width: 250px ;
        height: 100%;

        border: $vert solid 1px;
        border-radius: 15px;
        box-shadow:  8px 4px 8px rgba(7, 104, 23, 0.329);

        label {
            color:$Background1;
            padding-top: 10px;
        }
        
        input {
            border: solid 2px $vert;
            border-radius: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            margin-top: 10px;
            padding: 5px 0px 5px 7px;
            font-size: small;

            &::placeholder {
                color: $bleuMarine;                   
                font-style: italic;
                font-size: small;             
            }
        }

        textarea {
            padding: 20px;
            margin-top: 10px;

            &::placeholder {
                color: $bleuMarine;                   
                font-style: italic; 
                font-size: small;        
            }
        }

        .button-form {
            border: solid 2px #82b864 ;
            border-radius: 25px;
            color: $bleuMarine;
            background-color:$Background1;
            margin: 10px 0px 10px 0px;
            font-size: large;

            &:focus {
                border: 1px solid $rouge;
            }
        }

        h4 {
            color: $blanc;
            margin: 5px 5px;
        }

    }
}

// Format Desktop
@media (min-width: 730px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: Graphik, sans-serif;
        background-color: $bleu ;
        width: 60%;
        height: auto;
    
        border: $vert solid 2px;
        border-radius: 15px;
        box-shadow:  8px 4px 8px rgba(7, 104, 23, 0.329);
    
        label {
            color:$blanc;
            padding-top: 10px;
        }
        
        input {
            border: solid 3px $vert ;
            border-radius: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            margin-top: 10px;
            padding: 5px 0px 5px 7px;
            font-size: small;
            width: 40%;
    
            &::placeholder {
                color: $bleuMarine;                   
                font-style: italic;
                font-size: small;             
            }
        }
    
        textarea {
            padding: 120px;
            margin-top: 10px;
    
            &::placeholder {
                color: $bleuMarine;                   
                font-style: italic; 
                font-size: small;        
            }
        }
    
        button {
            border: solid 2px $vert ;
            border-radius: 25px;
            color: $bleuMarine;
            background-color:$Background1;
            margin: 20px 0px 20px 0px;
            font-size: large;
            width: 150px;
            
    
            &:focus {
                border: 2px solid $rouge;
            }
        }
    
        h4 {
            color: $blanc;
            margin: 5px 5px;
        }
    
    }
}
