#burger-menu {
  position: relative;

  .burger-icon {
      cursor: pointer;
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: none;
      border: none;
      outline: none;

      .line {
          height: 3px;
          background-color: black;
          width: 100%;
          transition: all 0.3s ease;
      }
      
      &:focus {
          outline: 2px solid #3498db;
      }
  }

  .menu {
      display: none;
      position: absolute;
      top: 100%; 
      background-color: #fff;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      padding: 10px;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      opacity: 0;
      visibility: hidden;

      &.open {
          display: block;
          opacity: 1;
          visibility: visible;
      }

      // format mobile
      @media (max-width: 430px) { 
          right: 0; // Maintient le menu à droite du bouton
          width: 200px; // Ajuste cette largeur selon la taille désirée du menu
      }
  }

  .menu_1 {
      display: block;
      text-decoration: none;
      color: black;
      padding: 10px;

      &:active, &.active {
          font-weight: bold;
          color: #3498db;
      }
  }
}
